altair
anthropic
beautifulsoup4
branca
chatlas
duckdb
folium
geoarrow-pandas
geopandas
great-tables
ibis-framework[duckdb]
ibis-framework[polars]
ibis-framework[postgres]
ibis-framework[sqlite]
inspect-ai
ipykernel
jupyter
# keplergl  # incompatible with Python 3.13 (requires pyarrow==16.0.0)
lxml
mapclassify
maplibre[all]
marimo
matplotlib
narwhals
numpy
openai
palmerpenguins
pandas
plotly
plotnine
polars
pyarrow
pymongo
pyogrio
pytest
pytest-playwright
python-dotenv
querychat
requests
ridgeplot
seaborn
setuptools
shiny
shinylive
shinywidgets
snakeviz
tiktoken
vega-datasets
vegafusion
vl-convert-python
