jupyter
ipykernel
shiny
shinywidgets
shinylive
altair
vegafusion
vl-convert-python
vega-datasets
pandas
geopandas
geoarrow-pandas
pyogrio
polars
narwhals
plotnine
plotly
seaborn
matplotlib
ridgeplot
folium
branca
mapclassify
maplibre
great-tables
palmerpenguins
lxml
beautifulsoup4
requests
openai
anthropic
chatlas
inspect-ai
#keplergl
querychat
duckdb
python-dotenv
numpy
tiktoken
