/* Code below was taken from: https://dash.plot.ly/external-resources */

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 40px;
    padding-left: 5px;
}
body { margin: 200; }

